/**/*.jar

spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step02-second-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step02-second-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step03-third-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step03-third-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step02-second-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step02-second-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step03-third-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar
spring-data-jpa/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step03-third-example/target/01-persistence-01-spring-data-jpa-02-creating-database-queries-with-the-jpa-criteria-api-step01-first-example-0.0.1-SNAPSHOT.jar.original
